<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Get bootstrap library for styling -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Summer/ Winter athletes</title>
</head>
<body>
    <div class="container p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Athletes with amazing feat</li>
            </ol>
        </nav>
        <h1>Athletes that took part in both Summer and Winter games and won medals</h1>
        Given the distinct nature of the Summer and Winter Games, the conventional assuption is that medaling
        in both iterations of the Olympic Games is an unattainable feat. This research question
        overturns this assumption.
        <table class = "table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Event</th>
                    <th>Game</th>
                    <th>Medal</th>
                    <th>Link to Games</th>
                </tr>
            </thead>

            <% data.forEach((item) => { %>
                <tr>
                    <td><%= item.name%> </td>
                    <td><%= item.sex%> </td>
                    <td><%= item.event_name %></td>
                    <td><%= item.city %> <%= item.year %> (<%= item.season %>)</td>
                    <td><%= item.medal %></td>
                    <td>
                        <form action="/athlete" method = "GET" class = "my-2">
                            <input type="hidden" name="athlete_id" value = <%=item.athlete_id%> >
                            <button class="btn btn-outline-dark" type="submit">Athlete details</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>