<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Athletes</title>
</head>
<body>
    <div class="container p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
        <h1>The Olympic Career of <%= data[0].name%></h1>

        <table class = "table">
            <thead>
                <tr>
                    <th>height</th>
                    <th>weight</th>
                    <th>team</th>
                    <th>game</th>
                </tr>
                <% data.forEach((item) => { %>
                    <tr>
                        <td><%= item.height%> </td>
                        <td><%= item.weight%> </td>
                        <td><%= item.team%> </td>
                        <td><%= item.city%> <%= item.year%> (<%= item.season%>) </td>
                    </tr>
                <% }); %>
        </table>
        </div>
</body>
</html>