<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Get bootstrap library for styling -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>NOC and medals</title>
</head>
<body>
    <div class="container p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Winter medals</li>
            </ol>
        </nav>
        <h1>Country and the number of medals</h1>
        This table shows the medals of each NOC aggregated over the four Olympic games.
        This shows us which country boasts the highest number of medallists, and will
        facilitate an investigation into how a country can best support its athletes.
        <table class = "table mt-3">
            <thead>
                <tr>
                    <th>NOC</th>
                    <th>Game</th>
                    <th>Gold</th>
                    <th>Silver</th>
                    <th>Bronze</th>
                    <th>Total medals</th>
            </thead>
            <% data.forEach((item) => { %>
                <tr>
                    <td><%= item.noc%> </td>
                    <td><%= item.city%> <%= item.year%> (<%= item.season%>) </td>
                    <td><%= item.gold%> </td>
                    <td><%= item.silver%> </td>
                    <td><%= item.bronze%> </td>
                    <td><%= item.total%> </td>
                </tr>
            <% }); %>
        </table>
        </div>
</body>
</html>