<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Athletes</title>
</head>
<body>
    <div class="container p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
        <h1>Athletes that took part in both Summer and Winter games and won medals</h1>
        <table class = "table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Event</th>
                    <th>Game</th>
                    <th>Medal</th>
                </tr>
            </thead>

            <% data.forEach((item) => { %>
                <tr>
                    <td><%= item.name%> </td>
                    <td><%= item.sex%> </td>
                    <td><%= item.event_name %></td>
                    <td><%= item.city %> <%= item.year %> (<%= item.season %>)</td>
                    <td><%= item.medal %></td>
                </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>